#include <dt-bindings/advertising_mode.h>
#include <behaviors/advertising_mode.dtsi>
#include <behaviors/stp_indicators.dtsi>
#include "mwave_prim.dtsi"
#include "studio-macros.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&lt 1 KP_NUMLOCK  &kp KP_SLASH  &kp KP_ASTERISK  &kp KP_SUBTRACT
&kp KP_N7         &kp KP_N8     &kp KP_N9        &kp KP_PLUS
&kp KP_N4         &kp KP_N5     &kp KP_N6
&kp KP_N1         &kp KP_N2     &kp KP_N3        &kp KP_ENTER
&kp KP_N0                       &kp KP_DOT
            >;
        };

        Fn {
            display-name = "Aux";
            bindings = <
&trans      &kp KP_SLASH  &kp KP_ASTERISK  &kp KP_EQUAL
&kp KP_N7   &kp KP_N8     &kp KP_N9        &bl BL_CYCLE
&kp KP_N4   &kp KP_N5     &kp KP_N6
&kp KP_N1   &kp KP_N2     &kp KP_N3        &studio_unlock
&bt BT_CLR                &macro_ver
            >;
        };

        extra1 {
            display-name = "Blue";
            status = "reserved";
        };

        extra2 {
            display-name = "Green";
            status = "reserved";
        };

        extra3 {
            display-name = "Red";
            status = "reserved";
        };

        extra4 {
            display-name = "Purple";
            status = "reserved";
        };

        extra5 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra6 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
